<!DOCTYPE html>
<html lang="en">
    <!-- Head Section of HTML -->
    <head>
        <title>Projects Page | Sara Ismail</title>
        <meta charset="utf-8">       
        <link rel="stylesheet" href="../static/main/css/header.css">
        <link rel="stylesheet" href="../static/main/css/navbar.css">
        <link rel="stylesheet" href="../static/main/css/main.css">
        <link rel="stylesheet" href="../static/main/css/footer.css">
    </head>
    <!-- Body Section of HTML -->
    <body id="web">

        <!-- Header Section of HTML -->
        <header>
            <banner>
                <img class="banner-image" src="../static/main/images/background.jpeg" alt="Detroit River and Bridge" loading="lazy">
            </banner>
        </header>
        
        <!-- Navbar Section of HTML -->
        <nav id="navbar">
            <div class="nav-section" id="normal">
                <div class="full">
                    <a class="nav-link big font" href="../static/main/Sara Ismail - 2021.pdf">RESUME</a>
                    <a class="nav-link big font" href="home.html">HOME</a>
                    <a class="nav-link big font" href="projects.html">PROJECTS</a>
                    <a class="nav-link big font" href="https://www.linkedin.com/in/sara-ismail-60778b1b3/"> 
                        <img class="nav-image link-image nav-link" src="../static/main/images/social-linkedin.png"  alt="Linkedin Icon" loading="lazy">
                    </a>
                </div>
                <h1 class="nav-words big">Homework 1</h1>
                <div class="dropdown">
                    <input class="nav-bar-image" id="dropbtn" type="image" src="../static/main/images/menu-bar.png" alt="nav drop down" onclick="getElementById('dropdown-content').style.display = 'block';">
                </div>
            </div>
            <div id="dropdown-content">
                <a class="nav-link linkedin small font" href="https://www.linkedin.com/in/sara-ismail-60778b1b3/"> LinkedIn</a>
                <a class="nav-link small font" href="../static/main/Sara Ismail - 2021.pdf">RESUME</a>
                <a class="nav-link small font" href="home.html">HOME</a>
                <a class="nav-link small font" href="projects.html">PROJECTS</a>
            </div>
        </nav>
        
        <!-- Main Section of HTML -->
        <main>
            <h2 class="text font">The content of this page includes my projects I have worked on throughout my Website Development course at
                Michigan State University.  I hope you enjoy!
            </h2>
            <div class="wrapper">
                <div class="box" style="flex:1">
                    <a href="piano.html">
                        <img class="image" src="../static/main/images/piano.jpeg" alt="Grand Piano" loading="lazy">
                    </a>
                </div>
                <div class="box scroll font" style="flex:1">
                    <p>Through the use of javascript and html, I created a playable piano.  You can use your keyboard to play different
                        songs of your choice.  If you cannot figure out what piano keys go to which key on the keyboard don't worry!  If 
                        you hover your mouse over any of the keys you will be about to see the mapping of each key.  Lastly, try out
                        different sayings for a fun surprise!
                    </p>
                    <p> Hint: W _ S _ _ Y _ _ </p>
                </div>
            </div>

        </main>
        
        <!-- Footer Section of HTML -->
        <footer class="footer-container">
            <p class="footer-text">©Sara Ismail</p>
        </footer>
    </body>
</html>